In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('Shakespeare_data_transformation1.csv');
df.head()

       Play         Player                                         PlayerLine
0  Henry IV            NaN                                              ACT I
1  Henry IV            NaN                       SCENE I. London. The palace.
2  Henry IV            NaN  Enter KING HENRY, LORD JOHN OF LANCASTER, the ...
3  Henry IV  KING HENRY IV             So shaken as we are, so wan with care,
4  Henry IV  KING HENRY IV         Find we a time for frighted peace to pant,

In [3]:
df.dtypes

Play          object
Player        object
PlayerLine    object
dtype: object

In [4]:
df = df.dropna(subset=['Player'])
df.head()

       Play         Player                                      PlayerLine
3  Henry IV  KING HENRY IV          So shaken as we are, so wan with care,
4  Henry IV  KING HENRY IV      Find we a time for frighted peace to pant,
5  Henry IV  KING HENRY IV  And breathe short-winded accents of new broils
6  Henry IV  KING HENRY IV         To be commenced in strands afar remote.
7  Henry IV  KING HENRY IV       No more the thirsty entrance of this soil

In [6]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Play, Player, PlayerLine]
Index: []

In [7]:
from sklearn.preprocessing import LabelEncoder
obj = LabelEncoder()
df["Player"] = obj.fit_transform(df["Player"].astype('str'))
df.head()

       Play  Player                                      PlayerLine
3  Henry IV     457          So shaken as we are, so wan with care,
4  Henry IV     457      Find we a time for frighted peace to pant,
5  Henry IV     457  And breathe short-winded accents of new broils
6  Henry IV     457         To be commenced in strands afar remote.
7  Henry IV     457       No more the thirsty entrance of this soil

Applying label encoding on Player

In [8]:
df = pd.get_dummies(df, columns=["Play"])
print(df);

        Player                                         PlayerLine  \
3          457             So shaken as we are, so wan with care,
4          457         Find we a time for frighted peace to pant,
5          457     And breathe short-winded accents of new broils
6          457            To be commenced in strands afar remote.
7          457          No more the thirsty entrance of this soil
8          457  Shall daub her lips with her own children's bl...
9          457   Nor more shall trenching war channel her fields,
10         457      Nor bruise her flowerets with the armed hoofs
11         457              Of hostile paces: those opposed eyes,
12         457      Which, like the meteors of a troubled heaven,
13         457          All of one nature, of one substance bred,
14         457             Did lately meet in the intestine shock
15         457                And furious close of civil butchery
16         457         Shall now, in mutual well-beseeming ranks,
17         457           March all one way and be no more opposed
18         457          Against acquaintance, kindred and allies:
19         457       The edge of war, like an ill-sheathed knife,
20         457  No more shall cut his master. Therefore, friends,
21         457              As far as to the sepulchre of Christ,
22         457       Whose soldier now, under whose blessed cross
23         457             We are impressed and engaged to fight,
24         457        Forthwith a power of English shall we levy,
25         457     Whose arms were moulded in their mothers' womb
26         457         To chase these pagans in those holy fields
27         457         Over whose acres walk'd those blessed feet
28         457       Which fourteen hundred years ago were nail'd
29         457             For our advantage on the bitter cross.
30         457      But this our purpose now is twelve month old,
31         457          And bootless 'tis to tell you we will go:
32         457        Therefore we meet not now. Then let me hear
...        ...                                                ...
111366     631                      There's time enough for that,
111367     631         Lest they desire upon this push to trouble
111368     631         Your joys with like relation. Go together,
111369     631          You precious winners all, your exultation
111370     631            Partake to every one. I, an old turtle,
111371     631      Will wing me to some wither'd bough and there
111372     631           My mate, that's never to be found again,
111373     631                             Lament till I am lost.
111374     494                                 O, peace, Paulina!
111375     494        Thou shouldst a husband take by my consent,
111376     494             As I by thine a wife: this is a match,
111377     494  And made between's by vows. Thou hast found mine,
111378     494       But how, is to be question'd, for I saw her,
111379     494     As I thought, dead, and have in vain said many
111380     494       A prayer upon her grave. I'll not seek far--
111381     494      For him, I partly know his mind--to find thee
111382     494              An honourable husband. Come, Camillo,
111383     494  And take her by the hand, whose worth and honesty
111384     494                 Is richly noted and here justified
111385     494     By us, a pair of kings. Let's from this place.
111386     494     What! look upon my brother: both your pardons,
111387     494            That e'er I put between your holy looks
111388     494         My ill suspicion. This is your son-in-law,
111389     494     And son unto the king, who, heavens directing,
111390     494    Is troth-plight to your daughter. Good Paulina,
111391     494         Lead us from hence, where we may leisurely
111392     494              Each one demand an answer to his part
111393     494     Perform'd in this wide gap of time since first
111394     494             We were dissever'd: hastily lead away.
111395     494                                             Exeunt

        Play_A Comedy of Errors  Play_A Midsummer nights dream  \
3                             0                              0
4                             0                              0
5                             0                              0
6                             0                              0
7                             0                              0
8                             0                              0
9                             0                              0
10                            0                              0
11                            0                              0
12                            0                              0
13                            0                              0
14                            0                              0
15                            0                              0
16                            0                              0
17                            0                              0
18                            0                              0
19                            0                              0
20                            0                              0
21                            0                              0
22                            0                              0
23                            0                              0
24                            0                              0
25                            0                              0
26                            0                              0
27                            0                              0
28                            0                              0
29                            0                              0
30                            0                              0
31                            0                              0
32                            0                              0
...                         ...                            ...
111366                        0                              0
111367                        0                              0
111368                        0                              0
111369                        0                              0
111370                        0                              0
111371                        0                              0
111372                        0                              0
111373                        0                              0
111374                        0                              0
111375                        0                              0
111376                        0                              0
111377                        0                              0
111378                        0                              0
111379                        0                              0
111380                        0                              0
111381                        0                              0
111382                        0                              0
111383                        0                              0
111384                        0                              0
111385                        0                              0
111386                        0                              0
111387                        0                              0
111388                        0                              0
111389                        0                              0
111390                        0                              0
111391                        0                              0
111392                        0                              0
111393                        0                              0
111394                        0                              0
111395                        0                              0

        Play_A Winters Tale  Play_Alls well that ends well  \
3                         0                              0
4                         0                              0
5                         0                              0
6                         0                              0
7                         0                              0
8                         0                              0
9                         0                              0
10                        0                              0
11                        0                              0
12                        0                              0
13                        0                              0
14                        0                              0
15                        0                              0
16                        0                              0
17                        0                              0
18                        0                              0
19                        0                              0
20                        0                              0
21                        0                              0
22                        0                              0
23                        0                              0
24                        0                              0
25                        0                              0
26                        0                              0
27                        0                              0
28                        0                              0
29                        0                              0
30                        0                              0
31                        0                              0
32                        0                              0
...                     ...                            ...
111366                    1                              0
111367                    1                              0
111368                    1                              0
111369                    1                              0
111370                    1                              0
111371                    1                              0
111372                    1                              0
111373                    1                              0
111374                    1                              0
111375                    1                              0
111376                    1                              0
111377                    1                              0
111378                    1                              0
111379                    1                              0
111380                    1                              0
111381                    1                              0
111382                    1                              0
111383                    1                              0
111384                    1                              0
111385                    1                              0
111386                    1                              0
111387                    1                              0
111388                    1                              0
111389                    1                              0
111390                    1                              0
111391                    1                              0
111392                    1                              0
111393                    1                              0
111394                    1                              0
111395                    1                              0

        Play_Antony and Cleopatra  Play_As you like it  Play_Coriolanus  \
3                               0                    0                0
4                               0                    0                0
5                               0                    0                0
6                               0                    0                0
7                               0                    0                0
8                               0                    0                0
9                               0                    0                0
10                              0                    0                0
11                              0                    0                0
12                              0                    0                0
13                              0                    0                0
14                              0                    0                0
15                              0                    0                0
16                              0                    0                0
17                              0                    0                0
18                              0                    0                0
19                              0                    0                0
20                              0                    0                0
21                              0                    0                0
22                              0                    0                0
23                              0                    0                0
24                              0                    0                0
25                              0                    0                0
26                              0                    0                0
27                              0                    0                0
28                              0                    0                0
29                              0                    0                0
30                              0                    0                0
31                              0                    0                0
32                              0                    0                0
...                           ...                  ...              ...
111366                          0                    0                0
111367                          0                    0                0
111368                          0                    0                0
111369                          0                    0                0
111370                          0                    0                0
111371                          0                    0                0
111372                          0                    0                0
111373                          0                    0                0
111374                          0                    0                0
111375                          0                    0                0
111376                          0                    0                0
111377                          0                    0                0
111378                          0                    0                0
111379                          0                    0                0
111380                          0                    0                0
111381                          0                    0                0
111382                          0                    0                0
111383                          0                    0                0
111384                          0                    0                0
111385                          0                    0                0
111386                          0                    0                0
111387                          0                    0                0
111388                          0                    0                0
111389                          0                    0                0
111390                          0                    0                0
111391                          0                    0                0
111392                          0                    0                0
111393                          0                    0                0
111394                          0                    0                0
111395                          0                    0                0

        Play_Cymbeline      ...       Play_Richard III  Play_Romeo and Juliet  \
3                    0      ...                      0                      0
4                    0      ...                      0                      0
5                    0      ...                      0                      0
6                    0      ...                      0                      0
7                    0      ...                      0                      0
8                    0      ...                      0                      0
9                    0      ...                      0                      0
10                   0      ...                      0                      0
11                   0      ...                      0                      0
12                   0      ...                      0                      0
13                   0      ...                      0                      0
14                   0      ...                      0                      0
15                   0      ...                      0                      0
16                   0      ...                      0                      0
17                   0      ...                      0                      0
18                   0      ...                      0                      0
19                   0      ...                      0                      0
20                   0      ...                      0                      0
21                   0      ...                      0                      0
22                   0      ...                      0                      0
23                   0      ...                      0                      0
24                   0      ...                      0                      0
25                   0      ...                      0                      0
26                   0      ...                      0                      0
27                   0      ...                      0                      0
28                   0      ...                      0                      0
29                   0      ...                      0                      0
30                   0      ...                      0                      0
31                   0      ...                      0                      0
32                   0      ...                      0                      0
...                ...      ...                    ...                    ...
111366               0      ...                      0                      0
111367               0      ...                      0                      0
111368               0      ...                      0                      0
111369               0      ...                      0                      0
111370               0      ...                      0                      0
111371               0      ...                      0                      0
111372               0      ...                      0                      0
111373               0      ...                      0                      0
111374               0      ...                      0                      0
111375               0      ...                      0                      0
111376               0      ...                      0                      0
111377               0      ...                      0                      0
111378               0      ...                      0                      0
111379               0      ...                      0                      0
111380               0      ...                      0                      0
111381               0      ...                      0                      0
111382               0      ...                      0                      0

Coverting Play to one hot encoding

In [9]:
df.dtypes

Player                            int64
PlayerLine                       object
Play_A Comedy of Errors           uint8
Play_A Midsummer nights dream     uint8
Play_A Winters Tale               uint8
Play_Alls well that ends well     uint8
Play_Antony and Cleopatra         uint8
Play_As you like it               uint8
Play_Coriolanus                   uint8
Play_Cymbeline                    uint8
Play_Hamlet                       uint8
Play_Henry IV                     uint8
Play_Henry V                      uint8
Play_Henry VI Part 1              uint8
Play_Henry VI Part 2              uint8
Play_Henry VI Part 3              uint8
Play_Henry VIII                   uint8
Play_Julius Caesar                uint8
Play_King John                    uint8
Play_King Lear                    uint8
Play_Loves Labours Lost           uint8
Play_Measure for measure          uint8
Play_Merchant of Venice           uint8
Play_Merry Wives of Windsor       uint8
Play_Much Ado about nothing       uint8
Play_Othello                      uint8
Play_Pericles                     uint8
Play_Richard II                   uint8
Play_Richard III                  uint8
Play_Romeo and Juliet             uint8
Play_Taming of the Shrew          uint8
Play_The Tempest                  uint8
Play_Timon of Athens              uint8
Play_Titus Andronicus             uint8
Play_Troilus and Cressida         uint8
Play_Twelfth Night                uint8
Play_Two Gentlemen of Verona      uint8
Play_macbeth                      uint8
dtype: object

In [10]:
df["PlayerLine"] = obj.fit_transform(df["PlayerLine"].astype('str'))
df.head()

,Player,PlayerLine,Play_A Comedy of Errors,Play_A Midsummer nights dream,Play_A Winters Tale,Play_Alls well that ends well,Play_Antony and Cleopatra,Play_As you like it,Play_Coriolanus,Play_Cymbeline,...,Play_Richard III,Play_Romeo and Juliet,Play_Taming of the Shrew,Play_The Tempest,Play_Timon of Athens,Play_Titus Andronicus,Play_Troilus and Cressida,Play_Twelfth Night,Play_Two Gentlemen of Verona,Play_macbeth
3,457,63722,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,457,25769,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,457,5111,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,457,77582,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,457,51374,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

One hot encoding on PlayerLine column

In [11]:
df.head()

,Player,PlayerLine,Play_A Comedy of Errors,Play_A Midsummer nights dream,Play_A Winters Tale,Play_Alls well that ends well,Play_Antony and Cleopatra,Play_As you like it,Play_Coriolanus,Play_Cymbeline,...,Play_Richard III,Play_Romeo and Juliet,Play_Taming of the Shrew,Play_The Tempest,Play_Timon of Athens,Play_Titus Andronicus,Play_Troilus and Cressida,Play_Twelfth Night,Play_Two Gentlemen of Verona,Play_macbeth
3,457,63722,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,457,25769,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,457,5111,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,457,77582,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,457,51374,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df.to_excel('result.xlsx', sheet_name='Sheet1');

In [13]:
from sklearn.model_selection import train_test_split
x = df.drop(columns=["Player"])
y = df["Player"]
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=0)
x.head()

,PlayerLine,Play_A Comedy of Errors,Play_A Midsummer nights dream,Play_A Winters Tale,Play_Alls well that ends well,Play_Antony and Cleopatra,Play_As you like it,Play_Coriolanus,Play_Cymbeline,Play_Hamlet,...,Play_Richard III,Play_Romeo and Juliet,Play_Taming of the Shrew,Play_The Tempest,Play_Timon of Athens,Play_Titus Andronicus,Play_Troilus and Cressida,Play_Twelfth Night,Play_Two Gentlemen of Verona,Play_macbeth
3,63722,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,25769,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5111,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,77582,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,51374,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier().fit(x, y)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 0.98
Accuracy of Decision Tree classifier on test set: 0.99

In [15]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
     .format(logreg.score(X_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(logreg.score(X_test, y_test)))

Accuracy of Logistic regression classifier on training set: 0.17
Accuracy of Logistic regression classifier on test set: 0.17

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test, y_test)))

Accuracy of K-NN classifier on training set: 0.23
Accuracy of K-NN classifier on test set: 0.02